body{
    background-image: url("images/cliti.jpg");
    padding: 0em;
    margin: 0em;
}
.left{
    float: left;
    color: orange;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.right{
    float: right;
    color: aqua;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#lf{
    float: right;
    width: 300px;
    height: 300px;
}
#rh{
    float: left;
    width: 200px;
    height: 200px;
}
.center{
    float: inline-start;
}
.one{
    float: left;
    width: 200px;
    height: 200px;
}
hr{
    padding-top: 9em;
}